<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaults</key>
	<dict>
		<key>siteId</key>
		<string>303827</string>
		<key>network</key>
		<string>labs-t402.fyre.co</string>
		<key>environment</key>
		<string>t402.livefyre.com</string>
	</dict>
	<key>collections</key>
	<array>
		<dict>
			<key>_name</key>
			<string>Xbox / Live Stream</string>
			<key>articleId</key>
			<string>xbox-0</string>
		</dict>
		<dict>
			<key>_name</key>
			<string>Social Soccer 2</string>
			<key>articleId</key>
			<string>labs_demo_soccer_2</string>
		</dict>
		<dict>
			<key>_name</key>
			<string>Social Basketball 2</string>
			<key>articleId</key>
			<string>labs_demo_basketball_2</string>
		</dict>
		<dict>
			<key>_name</key>
			<string>Social Football 2</string>
			<key>articleId</key>
			<string>labs_demo_football_2</string>
		</dict>
		<dict>
			<key>_name</key>
			<string>JavaScript tweets</string>
			<key>environment</key>
			<string>t402.livefyre.com</string>
			<key>network</key>
			<string>labs.fyre.co</string>
			<key>siteId</key>
			<string>315833</string>
			<key>articleId</key>
			<string>example</string>
		</dict>
		<dict>
			<key>_name</key>
			<string>~Writable</string>
			<key>environment</key>
			<string>livefyre.com</string>
			<key>network</key>
			<string>labs.fyre.co</string>
			<key>siteId</key>
			<string>320568</string>
			<key>articleId</key>
			<string>custom-1379372287037</string>
			<key>lftoken</key>
			<string>eyJhbGciOiAiSFMyNTYiLCAidHlwIjogIkpXVCJ9.eyJkb21haW4iOiAibGFicy5meXJlLmNvIiwgImV4cGlyZXMiOiAxMzk0OTI3MDUzLjg3MjgxMiwgInVzZXJfaWQiOiAiY29tbWVudGVyXzAifQ.yTlPHtMLSPzNh0UJTSdM5zUf7XzAM2aA6mSnmR1UwxY</string>
		</dict>
		<dict>
			<key>_name</key>
			<string>UAT / ModQ test</string>
			<key>environment</key>
			<string>t402.livefyre.com</string>
			<key>network</key>
			<string>livefyre.com</string>
			<key>siteId</key>
			<string>303613</string>
			<key>articleId</key>
			<string>215</string>
			<key>lftoken</key>
            <string>eyJhbGciOiAiSFMyNTYiLCAidHlwIjogIkpXVCJ9.eyJkb21haW4iOiAibGl2ZWZ5cmUuY29tIiwgImV4cGlyZXMiOiAxMzgyNTQzNTQ2LjEyMDA0MSwgInVzZXJfaWQiOiAiX3VwMTk0MzM2NjAifQ.zr-ekmwQF7Q9Ym6DtlMTMKcSdhM-Yur_Da4Hs4YJA-s</string>
		</dict>
		<dict>
			<key>_name</key>
			<string>UAT / Prickle</string>
			<key>environment</key>
			<string>t402.livefyre.com</string>
			<key>network</key>
			<string>livefyre.com</string>
			<key>siteId</key>
			<string>303613</string>
			<key>articleId</key>
			<string>225</string>
		</dict>
	</array>
</dict>
</plist>
